//fonts
$mainfont: Lato, Arial, Helvetica, sans-serif;
$titlefont: Poppins, Arial, Helvetica, sans-serif;

//colors
$bodybckgrcolor: #ffffff;
$navbckgrcolor: #082B59;
$navlinkcolor: #f2f2f2;
$bodytxtcolor: #131D26;
$bordercolor: #D98555;
$linkhover: #D98555;
$buttonhover: #59331d;

//images
$imgradius: 10px;